{% extends "base.html" %}
{% load static %}
{% load form_extras %}

{% block title %}Entrar - Minha App{% endblock %}
{% block body_class %}bg-gradient{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-75">
  <div class="login-card p-4 p-md-5 rounded-4 shadow-lg">
    <form method="post" novalidate>
      {% csrf_token %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger py-2">{{ form.non_field_errors }}</div>
      {% endif %}

      <div class="mb-3">
        <label class="form-label">Usuário</label>
        {{ form.username|add_class:"form-control form-control-lg" }}
      </div>
      <div class="mb-2">
        <label class="form-label">Senha</label>
        {{ form.password|add_class:"form-control form-control-lg" }}
      </div>

      <div class="d-flex justify-content-center align-items-center mt-3">
                <button class="btn btn-primary btn-lg px-4" type="submit">
          <i class="bi bi-box-arrow-in-right me-1"></i> Entrar
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
