{% extends 'english/friends-base.html' %}
{% load static %}
{% block title %}
<title>Friends - Parte 01</title>
{% endblock title %}

{% block video %}
<<video id="meuVideo" src="{% static 'english/friends0102/friends-02-02.mp4' %}?v=3" controls preload="auto"
    playsinline></video>


    {% endblock video %}



    {% block script %}
    const dialogoData = [
    {
    pt: "Está bom. Só que ela não parece um pouco brava?",
    en: "It is good. It's just that, doesn't she seem a little angry?",
    inicio: 1.0,
    fim: 6.0,
    },
    {
    pt: "Bom, ela tem problemas.",
    en: "Well, she has issues.",
    inicio: 6.1,
    fim: 8.0,
    },
    {
    pt: "Tem?",
    en: "Does she?",
    inicio: 9,
    fim: 10.9,
    },
    {
    pt: "Ele está batendo na cabeça de outras mulheres com um porrete...",
    en: "He's out banging other women over the head with a club...",
    inicio: 11.3,
    fim: 13.8,
    },
    {
    pt: "...enquanto ela fica em casa",
    en: "...while she sits at home",
    inicio: 13.9,
    fim: 14.9,
    },
    {
    pt: "tentando tirar o cheiro de mastodonte do carpete.",
    en: "trying to get the mastodon smell out of the carpet.",
    inicio: 15,
    fim: 17.1,
    },
    {
    pt: "Marsha, veja, essas são pessoas das cavernas.",
    en: "Marsha, see, these are cave people.",
    inicio: 18,
    fim: 21,
    },
    {
    pt: "Certo, eles têm problemas como: Nossa, essa geleira está quase chegando.",
    en: "Okay, they have issues like: Gee, that glacier's getting kind of close.",
    inicio: 22,
    fim: 27,
    },
    {
    pt: "Viu? Falando em problemas, aquela não é sua ex-mulher?",
    en: "See? Speaking of issues, isn't that your ex-wife?",
    inicio: 28,
    fim: 30.7,
    },
    {
    pt: "Não. sim, é.",
    en: "No. Yes, it is.",
    inicio: 31,
    fim: 33,
    },
    {
    pt: "Que tal eu te encontrar na Era Glacial?",
    en: "How about I'll catch up with you in the Ice Age?",
    inicio: 36,
    fim: 38.6,
    },
    {
    pt: "Então... você está ótima. Eu odeio isso.",
    en: "So....You look great. I hate that.",
    inicio: 62.5,
    fim: 68,
    },
    {
    pt: "Desculpe. Obrigada. Você também está linda.",
    en: "Sorry. Thanks. You look good too.",
    inicio: 69,
    fim: 72.5
    },
    {
    pt: "Bem, você sabe, aqui dentro, qualquer um que...fique de pé...",
    en: "Well, you know, in here, anyone who...stands erect...",
    inicio: 72.6,
    fim: 78.4,
    },
    {
    pt: "Então, o que há de novo? Ainda é... lésbica?",
    en: "So, what's new? Still a...A lesbian?",
    inicio: 82,
    fim: 84,
    },
    {
    pt: "Bom... Nunca se sabe. Como está, hum...? Como está a família?",
    en: "Well...You never know. How's, um...? How's the family?",
    inicio: 84.1,
    fim: 90.5,
    },
    {
    pt: "Marty ainda está totalmente paranoico.",
    en: "Marty's still totally paranoid.",
    inicio: 90.6,
    fim: 93,
    },
    {
    pt: "Ah, e... Carol, por que você está aqui, Carol? Estou grávida. Grávida.",
    en: "Oh, and...Carol, why are you here, Carol? I'm pregnant. Pregnant.",
    inicio: 93.1,
    fim: 100,
    },

    ];
    {% endblock script %}