{% extends 'english/friends-base.html' %}
{% load static %}
{% block title %}
<title>Friends - Parte 01</title>
{% endblock title %}

{% block video %}
<video id="meuVideo" src="{% static 'english/friends0102/friends-02-01.mp4' %}" controls></video>
{% endblock video %}

{% block script %}
const dialogoData = [
{
pt: "O que vocês não entendem é... para nós...",
en: "What you guys don't understand is... for us...",
inicio: 3,
fim: 5,
},
{
pt: "beijar é tão importante quanto qualquer outra parte disso",
en: "kissing is as important as any part of it.",
inicio: 5,
fim: 8,
},
{
pt: "Ah, sim. Tudo o que você precisa saber está naquele primeiro beijo.",
en: "Oh, yeah. Everything you need to know is in that first kiss.",
inicio: 14,
fim: 17.5,
},
{
pt: "Acho que para nós o beijo é como uma apresentação de abertura.",
en: "I think, for us kissing is pretty much like an opening act.",
inicio: 18.5,
fim: 21.8,
},
{
pt: "Você sabe,Quer dizer, é como o comediante stand-up que você tem que ouvir antes",
en: "Y'know, I mean, it's like the stand-up comedian you have to sit through before",
inicio: 22,
fim: 25,
},
{
pt: "do Pink Floyd aparecer.",
en: "Pink Floyd comes out.",
inicio: 25.5,
fim: 27,
},
{
pt: "Sim, e não é que não gostemos do comediante.",
en: "Yeah, and it's not that we don't like the comedian.",
inicio: 30,
fim: 33.7,
},
{
pt: "Só que não foi por isso... que compramos o ingresso.",
en: "It's just that that's not...why we bought the ticket.",
inicio: 33.8,
fim: 38.5,
},
{
pt: "Veja, o problema é que...",
en: "See, the problem is, though...",
inicio: 41,
fim: 42.3,
},
{
pt: "...depois que o show termina, não importa o quão bom ele tenha sido...",
en: "...after the concert's over, no matter how great the show was...",
inicio: 42.4,
fim: 45,
},
{
pt: "...vocês, meninas, estão sempre procurando o comediante novamente.",
en: "...you girls are always looking for the comedian again.",
inicio: 45.1,
fim: 48,
},
{
pt: "Não, quero dizer, estamos no carro, enfrentando o trânsito... basicamente",
en: "No, I mean, we're in the car, fighting traffic...basically",
inicio: 48.4,
fim: 51.8
},
{
pt: "tentando ficar acordados.",
en: "just trying to stay awake.",
inicio: 51.9,
fim: 53.5,
},
{
pt: "Pois é, um conselho: tragam de volta o comediante.",
en: "Yeah, well, word of advice: Bring back the comedian.",
inicio: 56,
fim: 59,
},
{
pt: "Caso contrário, você vai acabar... sentado em casa ouvindo esse álbum sozinho.",
en: "Otherwise, you're gonna find yourself...sitting at home listening to that album alone.",
inicio: 59.1,
fim: 63.9,
},
{
pt: "Ainda estamos falando de sexo?",
en: "Are we still talking about sex?",
inicio: 68,
fim: 69.8,
},

];
{% endblock script %}