{% extends 'english/friends-base.html' %}
{% load static %}
{% block title %}
<title>Friends - Parte 05</title>
{% endblock title %}

{% block video %}
<video id="meuVideo" src="{% static 'english/friends0101/friends-01-05.mp4' %}?v=3" controls preload="auto"
  playsinline></video>
{% endblock video %}

{% block script %}
const dialogoData = [
{
pt: "Eu deveria prender",
en: "I'm supposed to attach",
inicio: 0,
fim: 1.2,
},
{
pt: "uma coisa de suporte para as coisas laterais para as coisas laterais",
en: "a bracket thing to the side things to the side things",
inicio: 1.3,
fim: 4,
},
{
pt: "usando um monte desses pequenos vermes.",
en: "using a bunch of these little worm guys.",
inicio: 4.4,
fim: 6.8,
},
{
pt: "Eu não tenho nada de colchetes",
en: "I have no brackety thing",
inicio: 8.7,
fim: 10.5,
},
{
pt: "não vejo nenhum tipo de minhoca",
en: "I see no worm guys whatsoever",
inicio: 10.7,
fim: 13,
},
{
pt: "E não consigo sentir minhas pernas",
en: "And I cannot feel my legs",
inicio: 13.1,
fim: 15.5,
},
{
pt: "O que é isso? Não faço ideia.",
en: "What's this? I have no idea.",
inicio: 18.1,
fim: 21.5,
},
{
pt: "Terminei a estante! Tudo pronto!",
en: "Done with the bookcase! All finished!",
inicio: 24.4,
fim: 25.6,
},
{
pt: "Essa era a cerveja favorita da Carol.",
en: "This was Carol's favorite beer.",
inicio: 29.9,
fim: 31.8,
},
{
pt: "Ela sempre bebia direto da lata, eu deveria saber",
en: "She always drank it out of the can, I should have known.",
inicio: 34,
fim: 36.5,
},
{
pt: "Ross, deixe-me fazer uma pergunta.",
en: "Ross, let me ask you a question.",
inicio: 38.5,
fim: 39.7,
},
{
pt: "Ela conseguiu os móveis, o aparelho de som, a boa TV... o que você conseguiu?",
en: "She got the furniture, the stereo, the good TV- what did you get?",
inicio: 39.8,
fim: 45.2,
},
{
pt: "Vocês. Meu Deus. Vocês se ferraram.",
en: "You guys. Oh, God. You got screwed.",
inicio: 46.2,
fim: 48.2,
},
{
pt: "Eu sei, eu sei, sou um idiota.",
en: "I know, I know, I'm such an idiot.",
inicio: 50.8,
fim: 53,
},
{
pt: "Acho que eu deveria ter percebido quando ela começou a ir ao dentista",
en: "I guess I should have caught on when she started going to the dentist",
inicio: 54.4,
fim: 56.7,
},
{
pt: "quatro ou cinco vezes por semana.",
en: "four and five times a week.",
inicio: 56.8,
fim: 58.8,
},
{
pt: "Quão limpos os dentes podem ficar?",
en: "I mean, how clean can teeth get?",
inicio: 59,
fim: 60.4,
},
{
pt: "Meu irmão está passando por isso agora, ele está uma bagunça.",
en: "My brother's going through that right now, he's such a mess.",
inicio: 61.6,
fim: 63.9,
},
{
pt: "Como você superou isso?",
en: "How did you get through it?",
inicio: 64,
fim: 65.5,
},
{
pt: "Bem, você pode tentar quebrar acidentalmente algo valioso dela",
en: "Well, you might try accidentally breaking something valuable of hers",
inicio: 65.7,
fim: 69,
},
{
pt: "perna? Essa é uma maneira!",
en: "leg? That's one way!",
inicio: 70.2,
fim: 72.2,
},
{
pt: "Eu, eu fui pegar o relógio.",
en: "Me, I- I went for the watch.",
inicio: 73.5,
fim: 75.4,
},
{
pt: "Você realmente quebrou o relógio dela?",
en: "You actually broke her watch? ",
inicio: 75.7,
fim: 77.8,
},
{
pt: "Barry, me desculpe... Me desculpe mesmo...",
en: "Barry, I'm sorry... I am so sorry... ",
inicio: 78,
fim: 81.4,
},
{
pt: "Eu sei que você provavelmente pensa que isso é tudo sobre o que eu disse",
en: "I know you probably think that this is all about what I said ",
inicio: 81.5,
fim: 83.55,
},
{
pt: "outro dia sobre você fazendo amor de meias,",
en: "the other day about you making love with your socks on,",
inicio: 83.7,
fim: 85.7,
},
{
pt: "mas não é... não é, é sobre mim",
en: "but it isn't... it isn't, it's about me",
inicio: 85.8,
fim: 87.8,
},
{
pt: "Olá, a máquina me desligou de novo... enfim...",
en: "Hi, machine cut me off again... anyway...",
inicio: 96.5,
fim: 98.7,
},
{
pt: "Sabe qual é a parte mais assustadora?",
en: "You know what the scariest part is?",
inicio: 101.4,
fim: 102.9,
},
{
pt: "E se só tiver uma mulher para cada um, sabe?",
en: "What if there's only one woman for everybody, y'know?",
inicio: 103,
fim: 105.5,
},
{
pt: "O que acontece se você pegar uma mulher e pronto?",
en: "I mean what if you get one woman- and that's it?",
inicio: 106,
fim: 108.1,
},
{
pt: "Infelizmente, no meu caso, havia apenas uma mulher - para ela...",
en: "Unfortunately, in my case, there was only one woman- for her...",
inicio: 108.7,
fim: 113,
},
{
pt: '<b>Do que você está falando? "Uma mulher"?</b>',
en: "<b>What are you talking about? 'One woman'?</b>",
inicio: 114,
fim: 117,
},
{
pt: "É como dizer que só existe um sabor de sorvete para você.",
en: "That's like saying there's only one flavor of ice cream for you.",
inicio: 118.5,
fim: 122,
},
{
pt: "Deixa eu te contar uma coisa, Ross. Tem muita variedade de sabores por aí.",
en: "Lemme tell you something, Ross. There's lots of flavors out there.",
inicio: 122.1,
fim: 125.45,
},
{
pt: "Tem Rocky Road e Cookie Dough",
en: "There's Rocky Road, and Cookie Dough",
inicio: 125.4,
fim: 128.8,
},
{
pt: "e Bing! Cereja Baunilha.",
en: "and Bing! Cherry Vanilla.",
inicio: 128.9,
fim: 130.7,
},
{
pt: "Você pode comê-los com Jimmy's, nozes ou chantilly!",
en: "You could get 'em with Jimmies, or nuts, or whipped cream! ",
inicio: 131.2,
fim: 135.5,
},
{
pt: "Essa é a melhor coisa que já aconteceu com você!",
en: "This is the best thing that ever happened to you!",
inicio: 136,
fim: 138.1,
},
{
pt: "Você se casou, tinha, tipo, oito anos?",
en: "You got married, you were, like, what, eight?",
inicio: 139,
fim: 141.5,
},
{
pt: "Bem-vindo de volta ao mundo! Pegue uma colher!",
en: "Welcome back to the world! Grab a spoon!",
inicio: 143.8,
fim: 146.4,
},
{
pt: "Sinceramente não sei se estou com fome ou com tesão.",
en: "I honestly don't know if I'm hungry or horny.",
inicio: 147.5,
fim: 150.2,
},
{
pt: "Fique longe do meu congelador!",
en: "Stay out of my freezer!",
inicio: 151,
fim: 152.1,
},
];
{% endblock script %}